.portfolio-collection {
    position: relative;
    height: 100vh;
    padding-top: 65px;
    padding-bottom: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    main {
        width: 100vw;
        overflow: hidden;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__list-subtitles {
        height: 22px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        &__subtitle {
            display: block;
            min-width: max-content;
        }
        &:first-of-type {
            margin-bottom: 5px;
            .portfolio-collection__subtitle {
                text-align: right;
            }
        }
        &:last-of-type {
            margin-top: 5px;
            .portfolio-collection__subtitle {
                text-align: left;
            }
        }
    }
    &__subtitle {
        width: 80%;
        margin: auto;
        font-size: 22px;
        display: block;
    }
    &__wrapper-collage {
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 10;
    }
    &__wrapper-photos {
        width: 100px;
        transition: width 0.1s;
    }
    &__wrapper-photo {
        height: 100px;
        width: 100vw;
        transition: width 1ms;
        width: max-content;
        z-index: 10;
        transition: 0.2s all;
        &:hover {
            cursor: url("../../resources/icon-zoom-in.png"), auto;
            z-index: 15;    
            transform: scale(1.05);
        }
    }
    &__photo {
        z-index: 10;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width: 800px) {
    .portfolio-collection {
        min-height: 100vh;
        height: 100%;
        .portfolio-collection__wrapper-photos {
            width: 100%;
            align-content: center;
            justify-content: center;
        }
        &__photo {
            width: 100%;
            height: auto;
        }
        &__wrapper-photo {
            height: auto;
        }
    }
}