.portfolio-collection {
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    padding-top: 65px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__scrolling-wrapper {
        display: flex;
        justify-content: flex-start;
        width: 100vw;
    }
    &__list-subtitles {
        height: 22px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        &__subtitle {
            display: block;
            min-width: max-content;
        }
        &:first-of-type {
            margin-bottom: 5px;
            .portfolio-collection__subtitle {
                text-align: right;
            }
        }
        &:last-of-type {
            margin-top: 5px;
            .portfolio-collection__subtitle {
                text-align: left;
            }
        }
    }
    &__subtitle {
        width: 80%;
        margin: auto;
        font-size: 22px;
        display: block;
    }
    &__wrapper-collage {
        padding-top: 5px;
        padding-bottom: 5px;
        z-index: 10;
    }
    &__wrapper-photos {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    &__wrapper-photo {
        height: 100px;
        z-index: 10;
        transition: 0.2s all;
        &:hover, &:focus, &:active {
            cursor: url("../../resources/icon-zoom-in.png"), auto;
            z-index: 15;    
            transform: scale(1.05);
        }
    }
    &__photo {
        max-height: 100vh;
        max-width: 100vw;
        z-index: 10;
        height: 100%;
        object-fit: contain;
    }
}