@import "../../style/variables.scss";

.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 650px;
    color: white;
    input, textarea#letter, button {
        font-family: $forms;
        letter-spacing: 1px;
        line-height: 30px;
        font-size: 20px;
        font-weight: 600;
        color: $textBlackAlpha;

        padding: 2px 5px 2px 5px;
        display: block;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .feedback-form__wrong-value {
        border: solid 1px red;
    }
    textarea#letter {
        height: 120px;
        overflow: hidden;
        resize: none;
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 150px;
        align-self: start;
        background-color: white;
        transition: 0.15s all;
        text-align: center;
        &:hover {
            background-color: transparent;
            color: $textWhite
        }
    }
    &__label {
        display: block;
        width: 100%;
        font-size: 25px;
        font-family: $forms;
        letter-spacing: 1px;
        font-weight: 400;
        color: $textBlackAlpha;
    }
    &__method-links {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        height: 50px;
        width: 100%;

        font-family: $forms;
        letter-spacing: 1px;
        font-weight: 600;
        color:rgba($color: white, $alpha: 0.8);
        margin-bottom: 20px;
        input {
            width: 40px;
            height: 100%;
            margin-right: 20px;
        }
        label {
            display: block;
            text-align: left;

            width: 50px;
            margin-right: 50px;
            font-size: 20px;
            transition: 0.15s all;
            font-family: $forms;
            letter-spacing: 1px;
            font-weight: 400;
            color: $textBlackAlpha;
        }
    }
}


@media screen and (max-width: 800px) {
    .feedback-form {
        width: 100%;
    }
}