.portfolio-collection {
    position: relative;
    height: 100vh;
    padding-top: 65px;
    padding-bottom: 50px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
    &__wrapper-photos {
        z-index: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2px;
        transition: .2s all;
    }
    &__photo {
        z-index: 2;
        display: block;
        max-width: 100%;
    }
    &__wrapper-photo:hover {
    }
}