@import "../../../style/variables.scss";

.contacts {
    height: 100vh;

    padding-top: 65px;
    padding-bottom: 50px;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
    }
    .feedback-form {
        margin-bottom: 30px;
    }
    &__title {
        font-family: "Playfair Display";
        color: white;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 15px;
    }
    &__tout {
        font-family: "Playfair Display";
        color: white;
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        margin-bottom: 20px;
        color: $whiteAlphaText;
    }
}