@font-face {
    font-family: 'Serifiqo';
    src: url('../fonts/Serifiqo4F.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Aquarelle';
    src: url('../fonts/Aquarelle.eot');
    src: url('../fonts/Aquarelle.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Aquarelle.woff2') format('woff2'),
        url('../fonts/Aquarelle.woff') format('woff'),
        url('../fonts/Aquarelle.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
