@import "fonts.css";
@import "bootstrap.min.css";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Yanone+Kaffeesatz:wght@200;300;400&display=swap');

* {
    font-family: "Serifiqo";
    font-family: 'Playfair Display', serif;
    font-family: 'Bad Script', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

.container {
    display: block;
    position: relative; 
    width: 1000px;
    margin: 0 auto;
}

.app {
    position: relative;
}
ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}