@media screen and (max-width: 1100px) {
	.App {
		&::before {
			pointer-events: none;
			display: block;
			position: absolute;
			content: '';
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;
			box-shadow: inset 0px 0px 150px 40px #94835f;
		}
		.container {
			max-width: 85vw;
		}	
	}
}

@media screen and (max-height: 850px) {
	.App {
		height: max-content;
	}
}



@media only screen
	and (device-width : 375px)
	and (device-height : 812px)
	and (-webkit-device-pixel-ratio : 3) {
	.App {
		-webkit-overflow-scrolling: touch;

	}
}

