@import "../../style/variables.scss";

.portfolio-collections {
    height: 100vh;
    padding-top: 65px;
    padding-bottom: 50px;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__wrapper-collections {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;
    }
    &__wrapper-collection {
        position: relative;
        overflow: hidden;
        height: 300px;
        flex: 1 1 calc((100% / 3) - 10px);
        &:hover {
            .portfolio-collections__title-collection {
                bottom: -100%;
            }
            .portfolio-collections__darkening {
                opacity: 0;
            }
        }
    }
    &__title-collection {
        position: absolute;
        z-index: 2;

        font-weight: 200;
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        transition: .3s all ease-out;
    }
    // &__collection-image {
    //     width: 100%;
    //     object-fit: contain;
    // }
    &__wrapper-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__darkening {
        position: absolute;
        display: block;
        background-color: black;
        opacity: .65;
        width: 100%;
        height: 100%;
        font-size: 22px;
        transition: 0.3s all ease-out;
    }
    &__wrapper-title {
        position: fixed;
        width: 180px;
        height: 50px;
        z-index: 100;
        letter-spacing: 1px;
        font-weight: 200;
        top: 30%;
        display: block;
        transform: rotateZ(-90deg);
    }
    &__title {
        display: block;
        transform: translateY(-140px);
    }
    // &__decorate-corner {
    //     display: block;
    //     width: max-content;
    //     position: absolute;
    //     bottom: 80px;
    //     right: 0px;
    //     transform: rotateZ(-90deg);
    //     &::before, &::after {
    //         content: "";
    //         display: block;
    //         border-radius: 10px;
    //         background-color: rgba($color: #e6d348, $alpha: 1)
    //     }
    //     &::after {
    //         width: 50px;
    //         height: 5px;
    //     }
    //     &::before {
    //         transform: translateY(6px);
    //         width: 5px;
    //         height: 50px;
    //     }
    // }
}