@import "../../style/variables.scss";

.social{
    display: flex;
    justify-content: space-between;
    width: 150px;
    &__wrapper-icon {
        svg {
            transition: 0.3s all;
            fill: rgba($color: $main-color, $alpha: 0.7);

            &:hover {
                transform: scale(1.2);
                fill: rgba(255, 255, 255, 1);
            }
        }
    }
}