//colors
$main-color: rgb(0, 0, 0);
$gray: rgb(84, 84, 84);
$textBlackAlpha: rgba($color: black, $alpha: 0.7);
$textWhite: black;

//fonts
$titles: "Bad Script";
$main: "Yanone Kaffeesatz";
$forms: "Playfair Display";