@import "../../../style/variables.scss";

.portfolio {
    height: 100vh;
    padding-top: 65px;
    padding-bottom: 50px;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__wrapper-photos {
        display: flex;
        align-items: center;
        height: 650px;
        margin-bottom: 50px;
    }

    &__photo {
        display: block;
        margin: 0 auto;
        max-width: 70vw;                                                
        max-height: 80%;
        
        transition: 0.2s all;
        &:hover {
            cursor: url("../../../resources/icon-zoom-in.png"), auto;
            transform: scale(1.1);
        }
    }

    .slider {
        &__control-container {
            position: absolute;
            top: 75vh;
            right: 17vw;
            display: flex;
        }
        &__prev-button {
            border: none;
            display: block;
            width: 50px;
            height: 50px;
            background-color: rgba($color: $main-color, $alpha: 0.8);
            transition: 0.2s all;
            &::before, &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 17px;
                width: 12px;
                height: 3px;
                background-color: white;
                transform: translateY(-2.8px) rotateZ(-30deg);
            }
            &::after {  
                transform: translateY(2.8px) rotateZ(30deg);
            }
            &:hover {
                background-color: rgba($color: $main-color, $alpha: 1);
                transform: scale(1.2);
            }
        }
        &__next-button {
            border: none;
            display: block;
            width: 50px;
            height: 50px;
            background-color: rgba($color: $main-color, $alpha: 0.8);
            transition: 0.2s all;
            &::before, &::after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                right: 17px;
                width: 12px;
                height: 3px;
                background-color: white;
                transform: translateY(-2.8px) rotateZ(30deg);
            }
            &::after {
                transform: translateY(2.8px) rotateZ(-30deg);
            }
            &:hover {
                background-color: rgba($color: $main-color, $alpha: 1);
                transform: scale(1.2);
            }
        }
        &__nav-container {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        &__nav-dot {
            width: 10px;
            height: 10px;
            border: 1.5px solid $main-color;
            border-radius: 50%;
            background-color: transparent;
            transition: 1 all;
            &:active {
                border-color: transparent;
                background-color: $main-color;
            }
        }
        &__counter {
            font-size: 18px;
            font-family: "Playfair Display";
            position: absolute;
            top: 19vh;
            left: 18vw;
            width: 20px;
            z-index: 100;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &__current {
            font-family: inherit;
            color: $main-color
        }
        &__total {
            font-family: inherit;
            color: $gray;
        }
        &__counter-divider {
            display: block;
            background-color: $gray;
            width: 100%;
            height: 1px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

}