//media rules from big large to small
@media screen and (max-width: 1000px) {
    .about-me {
        height: 100%;
        main {
            width: 80vw;
        }
        &__title {
            font-size: 34px;
        }
    }
}

@media screen and (max-height: 650px) {
    .about-me {
        height: 100%;
    }
}