//media rules from big large to small
@media screen and (max-width: 1000px) {
    .about-me {
        min-height: 100vh;
        height: 100%;
        .container {
            min-height: 85vh;
            height: 100%;
        }
        &__tech-wrapper {
            flex-direction: column;
            align-items: center;    
        }
        &__wrapper-photo {
            width: 125px;
            height: 125px;
        }
        &__wrapper-content {
            width: 550px;
        }
        &__title {
            text-align: center;
            font-size: 32px;
            line-height: 32px;
            margin-bottom: 25px;
        }
        &__description {
            text-align: center;
            font-size: 19px;
            line-height: 28px;
            letter-spacing: 1px;
            background: linear-gradient(to right, transparent 1%, rgba($color: white, $alpha: 0.2) 85%, transparent);
        }
    }
}

@media screen and (max-height: 900px) {
    .about-me {
        .container {
            min-height: 85vh;
            height: 100%;
        }
    }
}

@media screen and (max-width: 650px) {
    .about-me {
        padding-top: 50px;
        padding-bottom: 40px;
        &__wrapper-content {
            width: 85vw;
        }
        &__title {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 30px;
    }
        &__description {
            font-size: 17px;
            line-height: 27px;
        }
    }
}

@media screen and (max-width: 450px) {
    .about-me {
        &__title {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 23px;
    }
        &__description {
            font-size: 16px;
            line-height: 25px;
        }
    }
}

@media only screen
	and (device-width : 375px)
	and (device-height : 812px)
	and (-webkit-device-pixel-ratio : 3) {
	.App {
		padding-top: constant(safe-area-inset-top);
		padding-top: env(safe-area-inset-top);
    }
}