@import "../../../style/variables.scss";

.about-me {
    height: 100vh;
    
    padding-top: 65px;
    padding-bottom: 50px;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    main {
        width: 685px;
        margin-bottom: 20px;
    }
    &__title {
        font-family: "Playfair Display";
        color: white;
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    &__description {
        color: $gray;
        font-family: inherit;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1px;
        font-family: "Yanone Kaffeesatz";
    }
}

//media rules
@import "./aboutMeMedia.scss";
