@media screen and (max-width: 600px) {
    .social {
        flex-wrap: wrap;
        width: 100%;
        row-gap: 10px;
        &__wrapper-icon {
            &:not(:last-of-type) {
                margin-right: 40px;
            }
        }
        &__copyright-symbol {
            font-size: 20px;
            line-height: 15px;
        }
        &__copyright-description {
            font-size: 15px;
        }
    }
}